/* font style */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500&display=swap');

header{
    font-family: 'Poppins', sans-serif;
}

.header-button{
    padding: 5px 40px;
    color: #3F87F5;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.menu-bar{
    font-weight: 600;
    font-size: 16px;
}
.align-text{
    text-align: left;
}
.hot-card{
    margin-top: 20px;
    position: relative;
    top: -40px;
    border-radius: 20px;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25)
}
.package{
    margin-top: 40px;
    margin-bottom: 90px;
}

@media only screen and (max-width : 480px) {
    .perfect{
        font-size: 15px;
    }
}